*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0px;
    background-color: #c0c86d;
    cursor: url(./images/cursor.png), default;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.bg{
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    width:1920px;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hole-container{
    width: 25%;
    display: flex;
    justify-self: center;
    align-items: center;
}
.hole{
    background-color: #000000;
    border-radius: 50%;
    overflow: visible;
    width: 267px;
    height: 267px
}

.mole{
    position: relative;
    right: 34px;
}

.hungry{
    cursor: url(./images/cursor-worm.png), default;
}

.gone{
    display: none;
}

.hide{
    display: none;
}

.worm {
    width: 1660px;
}

.worm-container {
    overflow: hidden;
    transition: width 0.5 ease-in-out;
}

.worm-box {
    width: 1660px;
}